@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../cap_Images/BackgroundScaled.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: #7a9b76;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    filter: invert(100%);
    cursor: pointer;
}

.notification {
    position: fixed;
    top: -100px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    z-index: 1000;
    transition: top 0.4s ease-in-out;
}

.notification.error {
    background-color: #f44336;
}

.notification.active {
    top: 20px;
}

.navigation .nav-link {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .Login-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    font-weight: 500;
    color: white;
    margin-left: 40px;
    transition: 0.3s;
}

.navigation .Login-popup:hover {
    background: white;
    color: black;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 0.2s ease;
}

.wrapper.active {
    height: 520px;
}

.wrapper .login-box {
    width: 100%;
    padding: 40px;
}

.wrapper .login-box.login {
    transition: transform 0.2s ease;
    transform: translateX(0);
}

.wrapper.active .login-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .login-box.sign-up {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .login-box.login-box.sign-up {
    transition: transform 0.2s ease;
    transform: translateX(0);
}

.login-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

input[type="checkbox"] {
    opacity: 0.75;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
}

.input-box:autofill {
    background: transparent;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.remember {
    font-size: 0.9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember input label {
    accent-color: black;
    margin-right: 3px;
}

.remember a {
    color: black;
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #26272e;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    transition: 0.1s;
}

.btn:hover {
    background: white;
    color: black;
}

.register {
    font-size: 0.9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}
